<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423566385353-u95o01mjbv8v8p1uh1dafhbq06f24llv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423566385353-u95o01mjbv8v8p1uh1dafhbq06f24llv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>423566385353-ohq3obubm5s5c7epg8d3aebke84mms5p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCaF6YQxb9s_eTiCoafT6j7EAKjWSYcvyU</string>
	<key>GCM_SENDER_ID</key>
	<string>423566385353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.escooterappNativeExpo</string>
	<key>PROJECT_ID</key>
	<string>scooter1-b6f56</string>
	<key>STORAGE_BUCKET</key>
	<string>scooter1-b6f56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423566385353:ios:9488498f26ffda40e7ed18</string>
	<key>DATABASE_URL</key>
	<string>https://scooter1-b6f56.firebaseio.com</string>
</dict>
</plist>