.login {
text-align: center;

}

h1 {
color: #EBC2AD;
}

p {
    color: #EBC2AD;
}

.login_button {
padding: 20px;
display: block;
justify-content: center;
margin: 50px auto;
background-color: #E77F64;
color: #FBEFE8;
width: 200px;
border-radius: 100px;
}

.login_guest { 
padding: 20px;
display: block;
justify-content: center;
margin: 0 auto;
background-color: #FBEFE8;
width: 200px;
border-radius: 100px;
color: #2F4357;
}